.turn-container{
border-radius: 10px;
}
.turn-wrapper{
    display: flex;
    flex-flow:row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    margin: 7px 0;
}
.turn-info{
    font-weight: bolder;
}